/src/src/bin
/src/src/obj
/src/.vs/src/v16/.suo
/src/.vs/src/v16/Server/sqlite3/db.lock
/src/.vs/src/v16/Server/sqlite3/storage.ide
/src/.vs/src/v16/Server/sqlite3/storage.ide-shm
/src/.vs/src/v16/Server/sqlite3/storage.ide-wal
/src/src.sln
